@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my app</h1>
    <p><a href="/Enter">ENTER</a>.</p>
    <p><a href="/Register">REGISTER</a>.</p>
    <p><a href="/Upload">Upload file</a>.</p>
</div>
